
#candidate_signup    {
    width: 200px;
    height: 400px;
    float: left;
}

#candidate_login  {
    width: 200px;
    height: 400px;
    margin-top: 42px;
    margin-left: 200px;
    position: relative;
}

#candidate_side{
    float:right; 
    width:180px; 
    height:160px; 
    background-color:white;
    margin-right: 690px ;
    margin-top: 100px


}

#recruiter_side{
    float:left; 
    width:180px; 
    height:160px; 
    background-color:white;
    margin-left: 490px ;
    margin-top: 100px


}

#recruiter_signup    {
    width: 200px;
    height: 400px;
    float: left;
}

#recruiter_login  {
    width: 200px;
    height: 400px;
    margin-top: 42px;
    margin-left: 200px;
}

#btn-roles {
    border-radius: 4px;
    background-color: rgb(230, 41, 151);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 500px;
    margin-top:400px
    
  }
  
  #btn-roles span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #btn-roles span:after {
    content: '\00bb';
    position: relative;
    opacity: 0;
    top: 0;
    right: 20px;
    transition: 0.5s;
  }
  
  #btn-roles:hover span {
    padding-right: 25px;
  }
  
  #btn-roles:hover span:after {
    opacity: 1;
    right: 0;
  }

  input[type=text] {
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 80%;
  }

  #job_post_form{
    width:300px;



  }